.classical {
  display: "flex";
  text-align: center;
  align-items: center;
  justify-content: "center"
}

.classical--board {
  margin: auto;
  padding: 20px;
  width: 800px;
  height: 800px;
}

.bullet {
  display: "flex";
  text-align: center;
  align-items: center;
  justify-content: "center"
}

.bullet--board {
  margin: auto;
  padding: 20px;
  width: 800px;
  height: 800px;
}

.navbar {
  justify-content: right;
}