.classical {
  display: "flex";
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: "center"
}

.classical--chessboard {
  margin: auto;
  padding: 20px;
  width: 650px;
  height: 650px;
}

.classical--info {
  flex-direction: row;
}