.classical {
  display: "flex";
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: "center"
}

.classical--board {
  margin: auto;
  padding: 20px;
  width: 650px;
  height: 650px;
}
.classical--info {
  flex-direction: row;
}

.navbar {
  justify-content: right;
}