img{
    height: "200";
    width: "200";
    margin: 30px 60px 90px;
}

.help--title{
    text-align: center;
    position: static;
    padding: 40px 0px 0px 0px;
    margin: auto;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 100px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #f1faee;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #e63946,
                 1px 2px 0px #e63946,
                 1px 3px 0px #e63946,
                 1px 4px 0px #a8dadc,
                 1px 5px 0px #a8dadc,
                 1px 6px 0px #a8dadc,
                 1px 10px 5px rgba(16, 16, 16, 0.5),
                 1px 15px 10px rgba(16, 16, 16, 0.4),
                 1px 20px 30px rgba(16, 16, 16, 0.3),
                 1px 25px 50px rgba(16, 16, 16, 0.2);
}

.help--subtitle{
    text-align: center;
    position: static;
    margin: auto;
    font-size: 35px;
    font-weight: 400;
    font-family: Georgia;
    color: #f1faee;
    text-shadow: 1px 1px 0px #e63946;
}

.help--paragraph{
    text-align: center;
    position: static;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia;
    color: #1D3557;
}

.center{
    text-align: center;
}

