.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-right: 20px;
    font-size: 16px;
    width: 100%;
}

.navbar .button {
    background-color: #0aacc8;
    border: none;
    color: white;
    width: auto;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar .button:hover {
    background-color: #196d7b;
}