.navbar--container {
    display: flex;
    flex-direction: row;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar--link {
    background-color: #0aacc8;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #196d7b;
}