.settings {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.settings--title {
  text-align: center;
  position: static;
  margin: auto;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 100px;
  font-weight: 600;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #f1faee;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #e63946, 1px 2px 0px #e63946, 1px 3px 0px #e63946,
    1px 4px 0px #a8dadc, 1px 5px 0px #a8dadc, 1px 6px 0px #a8dadc,
    1px 10px 5px rgba(16, 16, 16, 0.5), 1px 15px 10px rgba(16, 16, 16, 0.4),
    1px 20px 30px rgba(16, 16, 16, 0.3), 1px 25px 50px rgba(16, 16, 16, 0.2);
}

.settings--container {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}

.user--th {
  padding: 25px;
  background-color: #a8dadc;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  text-align: center;
  text-align: center;
  font-family: Georgia;
  letter-spacing: 1px;
  text-decoration: underline;
}

.user--scores--table {
  height: 10em;
}

.user--leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #a8dadc;
  border: 2px solid #000000;
  width: 400px;
}

.user--leaderboard--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  gap: 10px;
  width: 50%;
  margin: 20px;
}

.settings--user--score--title {
  grid-column: 1;
  grid-row: 1;
}

.settings--user--time--title {
  grid-column: 2;
  grid-row: 1;
}

.settings--user--time--title {
  grid-column: 3;
  grid-row: 1;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.settings--img {
  height: 300px;
  width: 300px;
  padding: 10px;
  margin: 5px;
}

.options--container {
  margin: 5px;
  background-color: #1d3557;
  color: #f1faee;
  text-decoration: underline;
  border: 2px solid black;
  width: 400px;
}

.settings--subheading {
  font-size: 22px;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type="radio"]+label>img {
  border: 1px dashed #a8dadc;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type="radio"]:checked+label>img {
  border: 1px solid #f1faee;
  box-shadow: 0 0 3px 3px #e63946;
}